* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background: linear-gradient(blue, lightblue);
}

ul.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.menu > li:last-child {
    margin-left: auto;
}

ul.menu > li > a {
    display: block;
    padding: 1.5rem;
    text-decoration: none;
    color: whitesmoke;
}

ul.menu > li > a:hover {
    background-color: darkblue;
}

.product {
    width: 20%;
    
    padding: 5px;
    box-sizing: border-box;
}

.product > div {
    background: linear-gradient(lightblue, blue);
    text-align: center;
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 5px;
}

.product img {
    width: 100%;
    transition: transform 1s;
}

.product img:hover {
    transform: translateY(-8px);
}

.product .price {
    position: absolute;
    background-color: rgba(146, 148, 5, 0.6);
    padding: 10px;
    left: 0;
    top: 0;
    border-radius: 10px 0;
}

.details {
    width: 70%;
    margin: 0 auto;
}

.details > div {
    width: 50%;
}

.thumb > div {
    width: 20%;
}

.left img {
    width: 100%;
}

.red {
    color: red;
}

.info {
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
}

.info.gift {
    border-color: red;
}

.buttons > button {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
}

footer {
    background: linear-gradient(blue, lightblue);
    color: white;
    padding: 2rem;
}

.input-form {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid blue;
    box-sizing: border-box;
}

.btn {
    background-color: darkblue;
    color: white;
    border: 1px solid blue;
    padding: 5px;
    margin-top: 5px ;
}

a.delete {
    position: absolute;
    right: 8px;
    top: 5px;
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}

a.insert {
    display: block;
    text-decoration: none;
    color: blue;
    margin: 10px 0;
}

.form {
    display: none;
}

.show {
    display: block;
}

.new {
    border: 2px solid red;
}

.tab {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.tab > li {
    margin-right: 5px;
}

.tab > li > a {
    display: block;
    background-color: whitesmoke;
    padding: 1.5rem;
}

.active {
    box-shadow: 3px 2px 1px blue;
}

a {
    color: darkblue;
    text-decoration: none;
}

.slider {
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.slider img {
    position: absolute;
    top: 0;
    width: 100%;
}

.popup {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    text-align: center;
}

.popup img {
    height: 100vh;
}

.close {
    position: fixed;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 1.5rem;
}